<% page_title "Справочники" -%>


<p>
<h2>Типы событий</h2>
<p>
<%= link_to 'Просмотр', events_path  %> | <%= link_to 'Новая запись', new_event_path  %>
</p>
</p>
<div class="spacer"></div>
<p>
<h2>Типы контактов</h2>
<p>
<%= link_to 'Просмотр', contact_types_path  %> | <%= link_to 'Новая запись', new_contact_type_path  %>
</p>
</p>
