<nav id="main_menu">
      <ul>
        <%= tab :categories, :url => "/clients", :label=>'Клиенты' %>
        <%= tab :categories, :url => "/contacts", :label=>'Контакты' %>
        <%= tab :categories, :url => "/directories", :label=>'Справочники' %>
        <%= tab :categories, :url => "/stats", :label=>'Статистика' %>        
      </ul>
    </nav>
