<nav id="main_menu">
      <ul>
        <%= tab :clients, :match_path => "/clients", :label=>'Клиенты' %>
        <%= tab :contacts, :url => "/contacts", :label=>'Контакты' %>
        <%= tab :directories, :label=>'Справочники' %>
        <%= tab :categories, :url => "/stats", :label=>'Статистика' %>        
      </ul>
    </nav>
