<%= content_for :sub_menu do %>
    <div id="sub_menu">
       <ul>
        <%= tab :firms, :url => firm_path(@firm), :pattern => /firms\/\d+$/,  :label=>'Фирма' %>
        <%= tab :users, :url => firm_users_path(@firm), :pattern => /\/(firms\/\d+\/users|users\/\d+\/edit)$/, :label=>'Пользователи' %>
      </ul>
    </div>
    <div class="clear"></div>

<% end -%>
