<%= render :partial => 'shared/sub_menu_client' %>
<% page_title(@firm.short_name, true, "Сотрудники") -%>

<div class="b-command-menu">
<%= link_to 'Новый сотрудник', new_client_person_path  %>
</div>

<div id="persons" class="table_data">
<%= render :partial => "persons" %>
</div>
