<%= render :partial => 'shared/sub_menu_firm' %>
<% page_title(@firm.short_name, true, "Контакты") -%>

<div class="b-command-menu">
  <%= link_to 'Новый контакт', new_firm_contact_path(@firm) %>
</div>

<div id="contacts" class="table_data">

<%= render :partial => "contacts" %>
</div>

<%= will_paginate @contacts %>
