
$content_color:#333;
$body_color:#E1E7E8;
$alert_color:#B22E2F;
$base_color:#A3ABAF;
$menu_color:#37646F;

html { height:100%}
body {
  height:100%;
  color:$content_color;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color:$menu_color;
  background-image: linear-gradient(bottom, #2A5B66 61%, #389494 22%);
  background-image: -o-linear-gradient(bottom, #2A5B66 61%, #389494 22%);
  background-image: -moz-linear-gradient(bottom, #2A5B66 61%, #389494 22%);
  background-image: -webkit-linear-gradient(bottom, #2A5B66 61%, #389494 22%);
  background-image: -ms-linear-gradient(bottom, #2A5B66 61%, #389494 22%);
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.61, #2A5B66),
  	color-stop(0.22, #389494)
  );
  -pie-background: linear-gradient(#2A5B66, #389494);
  behavior: url(javascripts/PIE.htc);
 }

h1 {
    font-size:20px; padding:5px 0;
    &.with-subtitle {color:$menu-color; margin-bottom:5px;}    
}

h2 { 
    font-size:16px; padding:5px 0;            
    &.subtitle {border-top:1px solid $menu-color;}
}

#navigation { 
  text-align:right;
  margin-top:5px;
}

div, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }



a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: $alert_color; } }


.corner-all {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	behavior: url(/javascripts/PIE.htc);
}

#notice, #alert {
  margin: 5px 0;
  padding: 5px;
//  background-color: lighten($menu_color, 10%); 
  color:$menu_color; 
  @extend .corner-all;
  }
  
#notice { background-color: #90EE90; }
#alert { background-color: $alert_color; color: $body_color; }



#logo h1  {
   font-size:2.5em;
   padding:10px 0;
   a { 
       color: $body_color; 
       text-decoration:none;
     }
} 
 
#container {
 background-color:#fff;
 min-height:400px;
 padding-bottom:10px;
 }

 
footer {
 text-align:center;
 padding: 5px 0;
 color: $body_color;
 }

fieldset { 
  border: 1px solid $menu_color;
  padding:5px;
 }
 
table
  th, td { 
    padding:5px;
    border: 1px solid $menu-color;
  }
  th {
      background-color:$base-color;
      color:$body-color;
      font-weight:bold;
      a, a:visited {color:$body-color;}
      a:hover {color: lighten($body-color, 10%);}
  }
  td { font-size:0.9em; }
 
 
#main_menu {
clear:both;
background-image: linear-gradient(bottom, $body_color 0%, $base_color 24%);
background-image: -o-linear-gradient(bottom, $body_color 0%, $base_color 24%);
background-image: -moz-linear-gradient(bottom, $body_color 0%, $base_color 24%);
background-image: -webkit-linear-gradient(bottom, $body_color 0%, $base_color 24%);
background-image: -ms-linear-gradient(bottom, $body_color 0%, $base_color 24%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.77, $body_color),
	color-stop(0.24, $base_color)
);
height:100%;
border:1px solid $menu_color;
height:39px;
}

#main_menu, #sub_menu {
 margin:0;
 ul {
    margin:0;
    padding:0;
    li {
      float:left;
      list-style:none;
      margin-right:0;
      margin-bottom:-1px;
      a { 
          display:block;
          color:$menu_color;
          text-decoration:none;
          outline:none;
          padding:10px 20px;
          &:hover {color:$alert_color;}
        }
    }
    li.selected a { color:#376691; }
  }
}

$menu_selected_1: #C5D6CE;
$menu_selected_2: #919996;

#main_menu ul li.selected {
height:40px;
background-image: linear-gradient(bottom, $menu_selected_1 89%, $menu_selected_2 19%);
background-image: -o-linear-gradient(bottom, $menu_selected_1 89%, $menu_selected_2 19%);
background-image: -moz-linear-gradient(bottom, $menu_selected_1 89%, $menu_selected_2 19%);
background-image: -webkit-linear-gradient(bottom, $menu_selected_1 89%, $menu_selected_2 19%);
background-image: -ms-linear-gradient(bottom, $menu_selected_1 89%, $menu_selected_2 19%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.89, $menu_selected_1),
	color-stop(0.19, $menu_selected_2)
);

border: {
  style:solid;
  left: { width:1px; color: $menu_selected_1; }
  right: { width:1px; color: $menu_selected_1; }
  top: { width:1px; color: $menu_selected_2; }
  bottom: { width:1px; color: $menu_selected_2; }
  }
margin-top:-2px;
  ul {
    margin-bottom:-1px;
    li:first-child { border-left:1px solid #34599B;}
  }
}


#sub_menu {
  height:33px;    
  background:$menu_selected_2;
  border: {
    style:solid;
    left: {width:1px; color:$menu_color;}
    right: {width:1px; color:$menu_color;}
    bottom: {width:1px; color:$menu_color;}
   }
  ul {
    li {
      a {
        color:#154e8c;
        font-size:0.9em;
        background:none;
        margin:5px 5px;
        padding:3px 7px;      
      } 
      &.selected a {
        background:$menu_selected_1;
        color:#3393f5;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        -moz-box-shadow: 0 0 5px 3px #888;
        -webkit-box-shadow:0 0 5px 3px #888;
         box-shadow: 0 0 5px 3px #888;
       }
    }
  }
}
select {background-color: white;}

#login {
  margin-top:40px;
  margin-left:50px;
  color:$menu_color;
  h1 {font-size:18pt;}
}


.b-want-to-register { @extend .g-hidden; }


.one_line_form {
  float: left;
  label {	
    color:$menu_color;
    &:first-child {
      float: left;
      padding-right: 10px;
     }
   }  
 }

.g-hidden {display:none;}


div {
  &.field, &.b-formfield-div {
      margin-bottom: 10px; 
      clear:both;
      text-align:right;
      line-height: 25px;
      margin-bottom: 10px;
      span {
        float: left;
        padding-right: 10px;    
        margin-left: -8px;
        color: #c36;
        font-size:8pt;
        vertical-align:super;
      }
    } 
     input, textarea, select { border: 1px solid $base_color; } 
     input[type="text"], input[type="password"], textarea, &.default-select select {
        width:220px;
     } 
     textarea {height:40px;}
  &.b-command-menu {
      font-size:1.1em;
      padding:5px 0;
    }  
  }
    

#user_menu {
  text-align:right;
  font-size:0.8em;
  a {color: $body-color;}
}


.field_with_errors {
  padding: 2px;
  background-color: $alert_color;
  label {color:#fff}
}

.errorExplanation {
  width: 450px;
  border: 2px solid darken($alert_color,10%);
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $alert_color;
    color: #fff; }
  ul {  
    padding-left:10px;
    li {    
      font-size: 12px;
      list-style: square; }
     } 
    }

.spacer {height:10px;}

.smalltext {font-size:0.8em; color: lighten($content-color, 20%) }

p  {
 &.label {
    color:$menu-color;
     font-weight:bold;
    }
}
.tinymce {
   text-align:left;
   width:100%;
   clear:both;
   textarea {width:100%; height:200px;}
 } 
 
 .event_poor { background-color:#FFC0CB} 
 .event_good { background-color:#90EE90}
 .table_data { margin-bottom:10px;}
 .no-wrap {white-space: nowrap;}
 .input-helper {
  cursor:pointer;
  padding-left:10px;
  }

a.info { 
  text-decoration:none;
  border-bottom:dotted 1px;
  }
  
