// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.roles {
    h3 {padding-bottom:10px;}
   .field {
   padding-left:10px;
   line-height:8px;
   margin-bottom:5px;
   }
}
